extends layout

block head
  link(rel="stylesheet", href="/countries.css")

block content

  h2 Countries 
    // Add a form for population sorting
  form(action="/countries" method="get")
    label(for="sort") Sort by Population:
    select(name="sort" id="sort")
      option(value="none" selected) None
      option(value="asc") Lowest to Highest
      option(value="desc") Highest to Lowest
      option(value="name_asc") Name Ascending
      option(value="name_desc") Name Descending
    button(type="submit" id="apply-filter") Apply

  table
    thead
      tr
        th| Code
        th.text-center| Name
        th| Continent
        th| Region
        th| SurfaceArea
        th| IndepYear
        th| Population
        th| LifeExpectancy
        th| GNP
        th| GNPOld
        th| LocalName
        th| GovernmentForm
        th| HeadOfState
        th| Capital
        th| Code2
    tbody
      each row, i in rows
        tr
          td.fit #{row.Code}
          td.fit #{row.Name}
          td #{row.Continent}
          td #{row.Region}
          td #{row.SurfaceArea}
          td #{row.IndepYear}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number.text-center #{population} 
          td #{row.SurfaceArea}
          td #{row.GNP}
          td #{row.GNPOld}
          td #{row.LocalName}
          td #{row.GovernmentForm}
          td #{row.HeadOfState}
          td #{row.Capital}
          td #{row.Code2}
